$col_01 : rgba(246, 247, 248, 1);  /* Icon Background */
$col_02 : rgba(255, 255, 255, 1);  /* Dot Border Color (Card Color?) */
$col_03 : rgba(200, 204, 212, 0.08);  /*  */
$col_04 : rgba(200, 204, 212, 0.1);  /*  */
$col_05 : rgba(7, 38, 53, 1);      /* Font Color */
$col_06 : rgba(227, 228, 230, 1);  /* Scroll Lane */
$col_07 : rgba(255, 230, 241, 1);  /* Heart Rate Stat */
$col_08 : rgba(224, 243, 250, 1);  /* Respiratory Rate Stat */
$col_09 : rgba(255, 230, 233, 1);  /* Temperature Stat */
$col_10 : rgba(0, 0, 0, 1);  /* Download Icon */
$col_11 : rgba(244, 240, 254, 1);  /* Graph Background */
$col_12 : rgba(203, 200, 212, 1);  /* Grid Lines */
$col_13 : rgba(126, 108, 171, 1);  /* Diastolic Line */
$col_14 : rgba(140, 111, 230, 1);  /* Diastolic Dots */
$col_15 : rgba(194, 110, 180, 1);  /* Systolic Line */
$col_16 : rgba(230, 111, 210, 1);  /* Systolic Dots */
$col_17 : rgba(1, 240, 208, 1);    /* Patient Highlight */
$col_18 : rgba(216, 252, 247, 1);  /* Patients Tab */
$col_19 : rgba(237, 237, 237, 1);  /* Dr Grid Line */
$col_20 : rgba(112, 112, 112, 1);  /* Gender, Age */