$col_01 : rgba(246, 247, 248, 1);  /* Icon Background      | #F6F7F8 */
$col_02 : rgba(255, 255, 255, 1);  /* Dot Border/Card Color| #FFFFFF */
$col_03 : rgba(200, 204, 212, 0.08);  /*                   | #C8CCD4 @ 8% opacity */
$col_04 : rgba(200, 204, 212, 0.1);   /*                   | #C8CCD4 @ 10% opacity */
$col_05 : rgba(7, 38, 53, 1);      /* Font Color           | #072635 */
$col_06 : rgba(227, 228, 230, 1);  /* Scroll Lane          | #E3E4E6 */
$col_07 : rgba(255, 230, 241, 1);  /* Heart Rate Stat      | #FFE6F1 */
$col_08 : rgba(224, 243, 250, 1);  /* Respiratory Rate Stat| #E0F3FA */
$col_09 : rgba(255, 230, 233, 1);  /* Temperature Stat     | #FFE6E9 */
$col_10 : rgba(0, 0, 0, 1);        /* Download Icon        | #000000 */
$col_11 : rgba(244, 240, 254, 1);  /* Graph Background     | #F4F0FE */
$col_12 : rgba(203, 200, 212, 1);  /* Grid Lines           | #CBC8D4 */
$col_13 : rgba(126, 108, 171, 1);  /* Diastolic Line       | #7E6CAB */
$col_14 : rgba(140, 111, 230, 1);  /* Diastolic Dots       | #8C6FE6 */
$col_15 : rgba(194, 110, 180, 1);  /* Systolic Line        | #C26EB4 */
$col_16 : rgba(230, 111, 210, 1);  /* Systolic Dots        | #E66FD2 */
$col_17 : rgba(1, 240, 208, 1);    /* Patient Highlight    | #01F0D0 */
$col_18 : rgba(216, 252, 247, 1);  /* Patients Tab         | #D8FCF7 */
$col_19 : rgba(237, 237, 237, 1);  /* Dr Grid Line         | #EDEDED */
$col_20 : rgba(112, 112, 112, 1);  /* Gender, Age          | #707070 */
