@use "./colors" as cols;

div.diag-table-rows {
  display: flex;
  flex-direction: column;
  gap: 7px;

  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  margin-right: -2px;

  &::-webkit-scrollbar {
  width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: cols.$col_06;
    border-radius: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background: cols.$col_05;
    border-radius: 3px;
  }
}