@use "./colors" as cols;
@use "./fonts" as fws;  // font-weights
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  font-weight: fws.$regular;
  font-style: normal;
  color: cols.$col_05;
}