@use "./fonts" as fws;
@use "./mixins" as *;
@use "./colors" as cols;

div.lab-tile {
  width: 315px;
  height: 40px;
  min-height: 40px;
  padding: 0 16px;
  flex-shrink: 0;  // don't let it shrink

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &>div.description {
    @include font-preset(13);
    font-weight: fws.$regular;
  }

  &>img.download {
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    stroke: cols.$col_10;
    cursor: pointer;
  }
}

div.lab-tile:hover {
  background-color: cols.$col_01;
}