@use "./colors" as cols;

div.nav-bar-card {
  width: 1564px;
  height: 72px;
  border-radius: 70px;  
  padding: 0 32px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  // border: black solid 1px;

  background-color: cols.$col_02;
}