@use "./fonts" as fws;
@use "./mixins" as *;
@use "./colors" as cols;

div.nav-item {
  flex-shrink: 0;
  flex-grow: 0;
  height: 41px;
  border-radius: 41px;

  display: flex;
  flex-direction: row;
  gap: 9px;
  align-items: center;

  padding: 11px 16px;

  &>img.nav-item-logo {
    width: 17px;
  }

  &>div.nav-item-text {
    font-weight: fws.$bold;
    @include font-preset(14);
  }

  &>:hover {
    cursor: pointer;
  }
}

div.nav-item.active {
  background-color: cols.$col_17;
}