@use "./colors" as cols;
@use "./fonts" as fws;
@use "./mixins" as *;

div.tile-container {
  max-width: 317px;
  min-width: 317px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 32px;

  &>img.face {
    margin-right: 12px;
    cursor: pointer;
    padding: 0px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }

  &>div.basic-info {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    @include font-preset(14);

    &>.top-line {
      font-weight: fws.$bold;
      color: cols.$col_05;
      cursor: pointer;
    }

    &>.bottom-line {
      color: cols.$col_20;
      font-weight: fws.$regular;
    }
  }

  &>.horiz-dots {
    margin-left: auto;
    width: 18px;
    cursor: pointer;
  }
}

div.tile-container:last-child {
  margin-bottom: 0;
}