@use "./colors" as cols;

div.patients-card {
  width: 367px;
  height: 1054px;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  border-radius: 16px;

  // border: black solid 1px;

  background-color: cols.$col_02;
}